<ul class="nav nav-list">
    <li>
        <a href="pages/php-basics.html">PHP Básico</a>
    </li>
    <li>
        <a href="pages/functions.html">Funções</a>
    </li>
    <li>
        <a href="pages/strings-and-patterns.html">Strings e Padrões</a>
    </li>
    <li>
        <a href="pages/arrays.html">Arrays</a>
    </li>
    <li>
        <a href="pages/io.html">I/O</a>
    </li>
    <li>
        <a href="pages/security.html">Segurança</a>
    </li>
    <li>
        <a href="pages/databases.html">Banco de dados</a>
    </li>
    <li>
        <a href="pages/oop.html">Programação Orientada a Objetos</a>
    </li>
    <li>
        <a href="pages/data-formats-and-types.html">Formatos e tipos de dados</a>
    </li>
    <li>
        <a href="pages/web-features.html">Recursos Web</a>
    </li>
    <li>
        <a href="pages/design-and-theory.html">Design e Teoria</a>
    </li>
</ul>
