<ul class="nav nav-list">
    <li>
        <a href="{{ site.baseurl }}/pages/php-basics.html">PHP Basics</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pages/functions.html">Functions</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pages/strings-and-patterns.html">Strings & Patterns</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pages/arrays.html">Arrays</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pages/io.html">I/O</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pages/security.html">Security</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pages/databases.html">Databases</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pages/oop.html">Object Oriented Programming</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pages/data-formats-and-types.html">Data Formats & Types</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pages/web-features.html">Web Features</a>
    </li>
    <li>
        <a href="{{ site.baseurl}}/pages/design-and-theory.html">Design and Theory</a>
    </li>
</ul>
